.checkout-container {
    max-width: 500px;
    margin: 60px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .checkout-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-group input {
    width: 96%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .button-green {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-green:hover {
    background-color: darkgreen;
  }
  
  .error {
    color: red;
    font-size: 0.9rem;
  }
  