.player-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .player-details {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .already-selected{
    text-align: center;
  }
  .player-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .button-green {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-green:hover {
    background-color: darkgreen;
  }
  
  .footer {
    padding: 10px;
    text-align: center;
    background-color: #f8f9fa;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 35px;
  }
  